#style{padding-left:200px;padding-right:200px;}
.navigation,footer{background-color: rgba(0, 0, 0, 0.11);}
#image{border-radius: 50%;}
table{ margin: 60px; width:50%;}
td{padding-left: 17%;}
h3{color: rgba(3, 3, 68, 0.795) ;
    text-decoration:underline;}
.about{padding-top: 90px;}